*, *:after, *:before {
  box-sizing: border-box;
}

#pSlider {
  width: 100%;
  max-width: 100%; 
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#slider-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: auto; 
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.li_slide {
  position: relative;
  flex: 0 0 auto; 
  width: calc(100% - 20px); 
  max-width: 100%;
  border-radius: 10px;
  background-color: khaki;
  margin-right: 20px;
  overflow: hidden;
}

.li_slide:nth-child(even) {
  background-color: mediumaquamarine;
}

.li_slide:last-child {
  margin-right: 0;
}

.slide-snapper {
  scroll-snap-align: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: tonext 4s infinite ease, snap 4s infinite ease;
}

@media (prefers-reduced-motion: reduce) {
  .slide-snapper {
    animation-name: none;
  }
}

#slider-container .li_slide:last-child .slide-snapper {
  animation-name: tostart, snap;
}

#slider-container:hover .li_slide .slide-snapper,
#slider-container:focus-within .li_slide .slide-snapper {
  animation-name: none;
}

#pSlider:before,
#pSlider:after,
.prev_slide,
.next_slide {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

#pSlider:before,
#pSlider:after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.next_slide {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.prev_slide {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

#pSlider:before,
.prev_slide {
  content: "";
  left: 0px;
}

#pSlider:after,
.next_slide {
  content: "";
  right: 0px;
}

/* Scrollbar */
#slider-container::-webkit-scrollbar {
  display: none;
}

#slider-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 50px;
}

#slider-container::-webkit-scrollbar-track {
  background-color: transparent;
}

@keyframes tonext {
  75% {
    margin-left: 0;
  }
  95% {
    margin-left: calc(100% + 20px);
  }
  98% {
    margin-left: calc(100% + 20px);
  }
  99% {
    margin-left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: start;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: start;
  }
}

@keyframes tostart {
  75% {
    margin-left: 0;
  }
  95% {
    margin-left: calc(-300% - 60px);
  }
  98% {
    margin-left: calc(-300% - 60px);
  }
  99% {
    margin-left: 0;
  }
}

.VideosGrid {
  width: 100%;
  height: 20px;
  margin: 20px 0px;
}

#sliderSettings {
  text-align: center;
}

#slider-width,
#slider-height {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.li_slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.li_slide video:hover {
  transform: rotate(10deg);
}

@media (max-width: 600px) {
  #pSlider {
    width: 100%;
    height: auto;
  }

  .li_slide {
    width: calc(100% - 10px);
    margin-right: 10px;
  }

  #slider-container {
    overflow-x: auto;
  }

  .li_slide video {
    height: 100%; 
  }

  @keyframes tonext {
    75% {
      margin-left: 0;
    }
    95% {
      margin-left: calc(100% + 10px);
    }
    98% {
      margin-left: calc(100% + 10px);
    }
    99% {
      margin-left: 0;
    }
  }

  @keyframes tostart {
    75% {
      margin-left: 0;
    }
    95% {
      margin-left: calc(-300% - 30px);
    }
    98% {
      margin-left: calc(-300% - 30px);
    }
    99% {
      margin-left: 0;
    }
  }
}
