.header {
  background-color: #fff; /* Adjust background color as needed */
  padding: 0;
  text-align: center;
  margin-top: -2.2%;
}

.header-contents {
  max-width: 100%;
  margin: 0;
 
}

.header-video {
  width: 100%;
  max-width: 980px;
  height: auto;
  border-radius: 20px; /* Adjust the value as needed */
}

.header h2 {
  font-size: 2em;
  margin: 10px 0;
  color: #333;
}

.header p {
  font-size: 1.2em;
  margin-bottom: 1px;
  color: #666;
}

.menu {
  background-color: #FF4C24; /* Primary button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.menu:hover {
  background-color: #e04321; /* Darker shade for hover effect */
}

/* Responsive styles */
@media (max-width: 768px) {
  .header h2 {
    font-size: 1.5em;
  }

  .header p {
    font-size: 1em;
  }

  .menu {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .header-contents {
    padding: 10px;
  }

  .header h2 {
    font-size: 1.2em;
  }

  .header p {
    font-size: 0.9em;
  }

  .menu {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}
